.login {
  min-height: 100vh;
  max-width: 100vw;

  display: flex;
}

.login main {
  height: 100vh;
  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login aside {
  height: 100vh;
  width: 50vw;

  background: rgb(7, 40, 82);
  background: linear-gradient(
    270deg,
    rgba(7, 40, 82, 1) 25%,
    rgba(50, 189, 105, 1) 80%,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
