.checkbox {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin: 15px 0 25px;

  color: var(--blue-primary-color);
}

.checkbox legend {
  font-weight: 600;
  font-size: 22px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.checkbox input {
  height: 12px;
  width: 12px;

  background-color: var(--white-primary-color);
  border: 2px solid var(--blue-primary-color);
  border-radius: 35%;
}

.checkbox input:checked {
  background-color: var(--blue-primary-color);
}

.checkbox input:disabled {
  border: 2px solid var(--bs-gray-300);
}
